body {
  margin: 0;
  background-color: lightcyan;
  color: darkgreen;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
  width: 85%;
  max-width: 400px;
  text-align: center;
  font-size: 22px;
}

.heading {
  margin: 10px 0;
  font-size: 35px;
  font-weight: bold;
}

.ratings-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

.rating:hover,
.rating.active
{
  background: darkseagreen;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: lightcyan;

}

.btn {
  background-color: darkcyan;
  color: lightcyan;
  border: 0;
  margin: 10px;
  border-radius: 5px;
  padding: 12px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: scale(0.96);
}

.rating img {
  width: 40px;
}
