body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

img {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  z-index: 2;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid #eee;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  position: relative;
  animation: pulse 5s infinite alternate;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  }
  20% {
    box-shadow: 0px 0px 50px rgba(51, 153, 255, 0.7); /* Dark blue */
  }
  30% {
    box-shadow: 0px 0px 50px rgba(102, 204, 0, 0.7); /* Dark green */
  }
  50% {
    box-shadow: 0px 0px 50px rgba(255, 153, 0, 0.7); /* Dark orange */
  }
  70% {
    box-shadow: 0px 0px 50px rgba(153, 51, 255, 0.7); /* Dark purple */
  }
}

.numbers div {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.twelve {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrows::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.arrows div {
  width: 2px;
  height: 100px;
  background-color: #333;
  position: absolute;
  bottom: 50%;
  transform-origin: bottom center;
}

.arrows .hour { transform: rotate(30deg); }
.arrows .minute { transform: rotate(180deg); }
.arrows .second { background-color: #f44336; }
